.enemy{
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  z-index:20;
  /*border: 1px solid;*/
}

.rotar{
   background:url("../image/bomba.png");
   background-repeat: no-repeat;
   animation: SPIN 1s steps(10, end) infinite , LEVITA 1s steps(4, end) infinite;
}

.volar{
   background:url("../image/misil.png");
   background-repeat: no-repeat;
   animation: VOLAR .2s steps(4, end) infinite;
}



.saltar{
   background:url("../image/bomba.png");
   background-repeat: no-repeat;
   background-size:cover;
   animation: REBOTE 2s infinite;
}

.explotion{
   background:url("../image/explosion.png");
   animation: EXPLOTION .8s steps(12, end);
}

.oculto{
  display: none;
}
