.enemy{
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  z-index:20;
  border: 1px solid;
}

.rotar{
   background:url("../image/bomba.png");
   background-repeat: no-repeat;
   background-size:cover;
   animation: SPIN 2s steps(10, end) infinite;
}

.saltar{
   background:url("../image/bomba.png");
   background-repeat: no-repeat;
   background-size:cover;
   animation: REBOTE 4s infinite;
}

.explotion{
   background:url("../image/explosion.png");
   background-size: cover;
   background-position: left;
   animation: EXPLOTION 1s steps(15, end);
}

.oculto{
  display: none;
}
