@keyframes RUNNER {
   from {background-position: 20px;}
   to {background-position: -738px;}
}


@keyframes ENEMY{
   from {background-position: 60px;}
   to {background-position: -2370px;}
}

@keyframes COIN{
   from {background-position: 60px;}
   to {background-position: -2370px;}
}

@keyframes PISO-GAME{
   from {background-position: 60px;}
   to {background-position: -1250px;}
}

@keyframes ARBOL-GAME{
   from {background-position: 0px;}
   to {background-position: 1250px;}
}
