@keyframes BACKGROUND-GAME{
   from {background-position: 1250px;}
   to {background-position: 0px;}
}

@keyframes RUNNER {
   from {background-position: 0px;}
   to {background-position: -415px;}
}

@keyframes RUNNER-STOP{
  from {background-position: 0px;}
  to {background-position: -479px;}
}

@keyframes RUNNER-JUMP {
   from {background-position: 0px;}
   to {background-position: -563px;}

   0%, 100% {transform: translateY(0);}
   50% {transform: translateY(-200px);}
}

@keyframes RUNNER-DIE{
  from {background-position: 0px;}
  to {background-position: 1067px;}

}

@keyframes ENEMY{
   from {background-position: 60px;}
   to {background-position: -2370px;}
}

@keyframes SPIN{
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

@keyframes REBOTE{
   0%, 20%, 60%, 100% {transform: translateY(0);}
   40% {transform: translateY(-200px);}
   80% {transform: translateY(-200px);}
}

@keyframes MISSES{
   25%, 75% { opacity: 0; }
   50% { opacity: 1; }
}

@keyframes EXPLOTION{
  from {background-position: 10px;}
  to {background-position: -2200px;}
}
