#runner {
   height: 128px;
   position: absolute;

   left: 150px;
   /*border: 1px solid;*/
}

.runner-stop{
  top: 483px;
  width: 63px;
  background:url("../image/esperar.png");
  animation: RUNNER-STOP .8s steps(8, end) infinite;
}

.runner{
  top: 483px;
  width: 63px;
  background:url("../image/correr.png");
  animation: RUNNER .8s steps(6 , end) infinite;
}

.runner-jump{
  top: 483px;
  width: 63px;
  background:url("../image/saltar.png");
  animation: RUNNER-JUMP .8s steps(8);
}

.runner-die{
  top: 478px;
  width: 135px;
  height: 128px;
  background:url("../image/morir.png");
  animation: RUNNER-DIE .8s steps(8) forwards;

}

.runner-hurts{
   background:url("../image/morir.png");
   animation: RUNNER-HURTS .8s steps(6);
}

.runner-right{
  transform: translateX(20px);
  animation: RUNNER .8s steps(8, end) infinite;
}
