
main{

}

.runner{
   width: 280px;
   height: 346px;
   margin-left: 50px;
   background-image: url("../image/WalkingManSpriteSheet.png");
   background-repeat: no-repeat;
   animation: RUNNER .8s steps(8, end) infinite;
   margin-top: 180px;
}

body{
  background-image: url("https://chupacdn.s3.amazonaws.com/catalog/product/cache/4/thumbnail/1280x/17f82f742ffe127f42dca9de82fb58b1/2/d/2d-game-backgrounds-10024_imgs_10024_1.jpg");
  background-repeat:repeat-x;
  animation: BACKGROUND-GAME .8s steps(8, end) infinite;
}
