.reloj{
  border: #000234 5px solid;
  border-radius:100%;
  width: 550px;
  height: 550px;
  background-color: #ccc;
  margin-left: 10px;
  margin-top: 10px;
 }

@keyframes ROTAR {
  from{ transform: translate(-140px,0px) rotate(0deg) translate(140px,0);}
  to{  transform: translate(-140px,0px) rotate(360deg) translate(140px,0);}
}

#hora{
  width: 275px;
  position: absolute;
  top: 285px;
  left: 315px;
  transition: transform 1s;
  animation: ROTAR 8640s infinite linear;
}
#hora div{
   width: 180px;
   height: 10px;
   background-color: #000000;
}

#minuto{
  width: 275px;
  position: absolute;
  top: 285px;
  left: 315px;
  transition: transform 1s;
  animation: ROTAR 720s infinite linear;
}
#minuto div{
   width: 220px;
   height: 5px;
   background-color: #000000;
}

#segundo{
  width: 275px;
  position: absolute;
  top: 285px;
  left: 315px;
  transition: transform 1s;
  animation: ROTAR 60s infinite;
  animation-timing-function: steps(60);
}

#segundo div{
  background-color: red;
  width: 240px;
  height: 2px;
}

#centro{
   width: 30px;
   height: 30px;
   background-color: red;
   position: absolute;
   top: 276px;
   left: 300px;

   border-radius:100%;
}


/*************
numeros
****************/


.horas li{
  list-style-type: none;
  position: absolute;
  top: 265px;
  left: 275px;
  font-size: 40px;
  margin-left: 10px;
}

.horas li:nth-child(1){
  transform: rotate(0deg) translate(0px,-250px);
}
.horas li:nth-child(2){
  transform: rotate(30deg) translate(0px,-250px);
}
.horas li:nth-child(3){
  transform: rotate(60deg) translate(0px,-250px);
}
.horas li:nth-child(4){
  transform: rotate(90deg) translate(0px,-250px);
}
.horas li:nth-child(5){
  transform: rotate(120deg) translate(0px,-250px);
}
.horas li:nth-child(6){
  transform: rotate(150deg) translate(0px,-250px);
}
.horas li:nth-child(7){
  transform: rotate(180deg) translate(0px,-250px);
}
.horas li:nth-child(8){
  transform: rotate(210deg) translate(0px,-250px);
}
.horas li:nth-child(9){
  transform: rotate(240deg) translate(0px,-250px);
}
.horas li:nth-child(10){
  transform: rotate(270deg) translate(0px,-250px);
}
.horas li:nth-child(11){
  transform: rotate(300deg) translate(0px,-250px);
}
.horas li:nth-child(12){
  transform: rotate(330deg) translate(0px,-250px);
}
