@import url('https://fonts.googleapis.com/css?family=Monoton|Orbitron');
body{

}

h1,h2,h3,h4{
    color:#000;
    font-weight:100;
    font-family:'Monoton', cursive;
    line-height:1.8em;
}

.footer{ margin: 10px;}

#canvas{
  box-shadow: 2px 2px 30px #0f0f0f;
  background-image: url("../img/bg.jpg");
  background-size:100% auto;
}
